<!Doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">

<head>
<th:block th:include="/fragments/header"></th:block>
</head>
<body>
	<th:block th:include="/fragments/nav"></th:block>  

    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>질문 목록</h2>
                            <p>Home<span>//</span>Questions</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->


    <!--================Blog Area =================-->
    <section class="blog_area section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                    	
                        <article class="blog_item" th:each="question : ${questions}">
                            <div class="blog_item_img">    
                            
                            </div>								
                            <div class="blog_details">
                            	<a class="d-inline-block" th:href="@{'/questions/{id}'(id=${question.id})}"></span>
                            	  	<h2><span th:text="${question.title}"></span></h2>
                                </a>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="far fa-user"></i> <span th:text="${question.writer.userId}"></span></a></li>
                                    <li><a href="#"><i class="far fa-clock"></i> <span th:text="${#temporals.format(question.createTime, 'YY-MM-dd ')}"></span></a></li>
                                    <li><a href="#"><i class="far fa-comments"></i> 03 Comments</a></li>
                                </ul>
                            </div>
                        </article>

                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Previous">
                                        <i class="ti-angle-left"></i>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link">1</a>
                                </li>
                                <li class="page-item active">
                                    <a href="#" class="page-link">2</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Next">
                                        <i class="ti-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                                <a href="/questions/title"><button class="button rounded-0 primary-bg text-white w-100 btn_4"
                                >제목순</button></a>
                                <br></br>
                                <a href="/questions/writer"><button class="button rounded-0 primary-bg text-white w-100 btn_4"
                                >작성자순</button></a>
                        </aside>

                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Category</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="/questions/form" class="d-flex">
                                        <p>글쓰기</p>
                                  <a href="/questions/writer" class="d-flex">
                                        <p>제목순</p>
                                    </a>
                                </li>

                            </ul>
                        </aside>


                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->

	<th:block th:include="/fragments/footer"></th:block> 
</body>

</html>